<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
  </head>
  <body>
    <h2>Register</h2>
    <label for='email'>Email</label>
    <input type='email' />
    <label for='password'>Password</label>
    <input type='password' />
    <label for='country'>Country</label>
    <input type='text' />
    <label for='countries'>Countries to visit</label>
    <input type='drop' />
  </body>
</html>